.navbar {
	background-color: #fff;
	border-bottom: 1px solid #333;

	.nav-item {
		display: flex;
		justify-content: center;
		&.active {
			border-bottom: 2px solid var(--card-main-colour);
		}
	}

	.nav-link,
	&:visited {
		color: #000;
		border-bottom: none;
	}
	/* rm dot */
	ul {
		flex-flow: row wrap;
		gap: 1rem;

		li {
			padding: 0;
			&::before {
				content: '';
			}
		}
	}
}
