.navbar {
	background-color: #9e9e9e;

	.nav-item {
		display: flex;
		justify-content: center;
		&.active {
			border-bottom: 1px solid pink;
		}
	}

	.nav-link,
	&:visited {
		color: #000;
		border-bottom: none;
	}
	// rm dot
	ul li::before {
		content: '';
	}
}
