body {
	.data
		.accordion
		:not(.card-standard):not(.card-graphic).card
		.card-title
		button {
		border: 1px solid var(--card-main-colour);
		color: var(--card-main-colour);

		&[aria-expanded='true'] {
			background: var(--card-main-colour);
		}
	}
}
