@use './mixins' as m;
.ribbon,
.ribbon-top,
.circle-icon {
	min-height: 100px;
	&::before {
		--icon-colour: var(--card-main-colour);
		content: '';
		position: absolute;
		display: block;
		background-repeat: no-repeat;
		height: 100px;
		width: 100px;
		fill: var(--icon-colour);
	}
}
.ribbon {
	&.ribbon {
		&-dyk {
			&::before {
				background-image: url(../svg/icons/dyk.svg);
			}
		}
	}
}
